* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3DFF4;
    color: rgb(0, 0, 0);
}

/* cabeçalho e rodapé */
header,
footer {
    height: 100px;
    background-color: #B8CBEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo,
#rodape {
    margin-inline: 40px;
}

/* home, sobre, produtos, contatos */
.cabecalhoerodape>a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    background-color: #cecece;
    border-radius: 10px;
    border: 1px solid;
    color: black;
    margin-inline: 20px;
}

.cabecalhoerodape>a:hover {
    background-color: #D9D9D9;
    color: rgb(255, 255, 255);
}

/* foto */
#fotoPrincipal {
    display: flex;
    justify-content: center;
    padding: 10px;

}

/* SERVIÇOS */
#servico {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
}

/* Escolha de plano */
#escolhaPlano {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
}

/* Imagens e opções */
.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.cards img {
    width: 270px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid;
    color: black;
}

.cards #fundoImagens {
    background-color: #4593ca;
    width: 1500px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
}

.opcoes>a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    background-color: #cecece;
    border-radius: 10px;
    border: 1px solid;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.opcoes>a:hover {
    background-color: #D9D9D9;
    color: rgb(255, 255, 255);
}


/* formulario */
#formulario {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dadosFormulario {
    width: 1000px;
    padding: 20px;
    background: #569ed1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.dadosFormulario label {
    display: flex;
    flex-direction: column;
}

.dadosFormulario #pagamento {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dadosFormulario input {
    margin-bottom: 30px;
    padding: 8px;
}

.dadosFormulario .cadastro {
    display: flex;
    justify-content: center;
}

.dadosFormulario .cadastro>a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    background-color: #cecece;
    border-radius: 10px;
    border: 1px solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 200px;
}

.dadosFormulario .cadastro>a:hover {
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
}