* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3DFF4;
    color: white;
}

/* cabeçalho e rodapé */
header, footer {
    height: 100px;
    background-color: #B8CBEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo, #rodape {
    margin-inline: 40px;
}

/* home, sobre, produtos, contatos */
nav>a {
    color: white;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    background-color: #7cacff;
    border-radius: 10px;
    margin-inline: 20px;
}

nav>a:hover {
    background-color: #9cc0ff;
    color: black;
}

/* foto */
#fotoPrincipal {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* SERVIÇOS */
#servico {
    background-color: rgb(99, 87, 255);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Imagens e opções */
#cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#cards img {
    width: 270px;
    height: 300px;
    border-radius: 10px;
}


/* formulario */
#formulario {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dadosFormulario {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background: #888;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#dadosFormulario label {
    display: flex;
    flex-direction: column;
}

#dadosFormulario input {
    margin-top: 5px;
    padding: 8px;
}